<!DOCTYPE HTML>
<html data-layout-decorate="~{layout}">

<head>
<title>Moj profil</title>
</head>
<body>
 <div class="container" data-layout-fragment="content">
  <div class="row">
   <div class="col-md-4">
    <!-- user info begin -->
    <div class="card card-user">
     <div class="image">
      <!-- <img src="../assets/img/damir-bosnjak.jpg" alt="..."> -->
     </div>
     <div class="card-body">
      <div class="author">
       <a href="#">
        <img class="avatar border-gray" src="https://image.ibb.co/jw55Ex/def_face.jpg"
         alt="...">
        <h5 class="title"
         th:text="${student.firstName}+' '+${student.lastName}" />
       </a>
       <p class="description">Student</p>
      </div>
      <p class="text-center">
       Email :
       <a href="#" th:text="${student.email}" />
      </p>
     </div>
     <div class="card-footer">
      <hr>
      <div class="button-container">
       <div class="row">
        <div class="col-lg mr-auto">
         <h5>
          Ocjena<br> <small th:text="${rating}+'/5'" /><small
           class="description" th:text="' ('+ ${reviews.size()}+')'"></small>
         </h5>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!-- user info end-->
   </div>

   <div class="col-md-8">
    <!-- nav bar begining-->
    <div class="card">
     <div class=row>
      <div class="">
       <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item"><a class="nav-link" id="aboutMe-tab"
          data-toggle="tab" href="#aboutMe" role="tab"
          aria-controls="aboutMe" aria-selected="true">O meni</a></li>

        <li class="nav-item"><a class="nav-link" id="reviews-tab"
          data-toggle="tab" href="#reviews" role="tab"
          aria-controls="reviews" aria-selected="false">Recenzije</a></li>

        <li class="nav-item"><a class="nav-link"
          id="finishedJobs-tab" data-toggle="tab" href="#finishedJobs"
          role="tab" aria-controls="finishedJobs" aria-selected="false">Odrađeni
          poslovi</a></li>
       </ul>

      </div>
     </div>
    </div>

    <!-- nav bar begining-->
    <div class="tab-content profile-tab" id="myTabContent">

     <!--about me begining -->
     <div class="tab-pane fade show active" id="aboutMe" role="tabpanel"
      aria-labelledby="aboutMe-tab">
      <div class="card card-user">
       <div class="card-header">
        <h5 class="card-title">Poslodavac</h5>
       </div>
       <div class="card-body">
        <div class="row">
         <div class="col-md-5 pr-1">
          <div class="form-group">
           <label for="exampleInputEmail1">Email</label> <input
            type="email" class="form-control" disabled=""
            placeholder="Email" th:value="${student.email}">
          </div>
         </div>
         <div class="col-md-7 pl-1">
          <div class="form-group"></div>
         </div>
        </div>
        <div class="row">
         <div class="col-md-6 pr-1">
          <div class="form-group">
           <label>Ime</label> <input type="text" class="form-control"
            disabled="" placeholder="Ime"
            th:value="${student.firstName}">
          </div>
         </div>
         <div class="col-md-6 pl-1">
          <div class="form-group">
           <label>Prezime</label> <input type="text"
            class="form-control" disabled="" placeholder="Prezime"
            th:value="${student.lastName}">
          </div>
         </div>
        </div>

        <div class="row">
         <div class="col-md-12">
          <div class="form-group">
           <label>Kontakt broj</label> <input type="text"
            class="form-control" disabled="" placeholder="Kontakt broj"
            th:value="${student.phoneNumber}">
          </div>
         </div>
        </div>


        <div class="row">
         <div class="col-md-12">
          <div class="form-group">
           <label>Oib</label> <input type="text" class="form-control"
            placeholder="Oib" disabled="" th:value="${student.oib}">
          </div>
         </div>
        </div>
        <div class="row">
         <div class="col-md-12">
          <div class="form-group">
           <label>Jmbag</label> <input type="text" class="form-control"
            placeholder="Oib" disabled="" th:value="${student.jmbag}">
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- about me end -->
     <!-- reviews begining -->
     <div class="tab-pane fade show" id="reviews" role="tabpanel"
      aria-labelledby="reviews-tab">

      <div class="row" th:each="rev:${reviews}">
       <div class="card">
        <div class="card-body">
         <div class="row">
          <div class="col-md-2">
           <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
            class="img img-rounded img-fluid" />
<!--             posting time -->
           <p class="text-secondary text-center"></p>
          </div>
          <div class="col-md-10">
           <p>
            <a class="float-left"
             th:href="@{/employer/profile(employerId=${rev.employer.id})}">
             <strong><span
              th:text="${rev.employer.firstName}+' '+${rev.employer.lastName}" /></strong>
            </a>
            <span class="float-right"
             th:each="i : ${#numbers.sequence(1,rev.grade)}"><i
             class="text-warning fa fa-star"></i></span> <br> Oglas:
            <a class="float"
             th:href="@{/jobAd/list/{id}(id=${rev.employer.id})}">
             <strong><span th:text="'#'+${rev.jobAd.id}" /></strong>
            </a>

           </p>
           <div class="clearfix"></div>
           <p>
            <span th:text="${rev.reviewText}"></span>
           </p>
          </div>
         </div>

        </div>
       </div>
      </div>

      <br>
<!--       <h5>Nije pronađena niti jedna recenzija</h5> -->
     </div>
     <!-- reviews end -->

     <!-- finished jobs jobs begin-->
     <div class="tab-pane fade" id="finishedJobs" role="tabpanel"
      aria-labelledby="finishedJobs-tab">

      <div class="row" th:each="jobAd:${jobAds}">
       <div class="col-md-12">
        <div class="card ">
         <div class="card-header ">
          <h5 class="card-title" th:text="${jobAd.companyName}"></h5>
          <p class="card-category">
           Satnica: <span th:text="${jobAd.saleryPerHour}" /> kn
          </p>
         </div>

         <div class="card-body ">
          <p th:text="${jobAd.shortDescription}" />

          <div class="row">
           <div class=col>
            Poslodavac :
            <a
             th:href="@{/employer/profile?(employerId=${jobAd.employer.id})}"
             th:text="${jobAd.employer.email}" />
            <button type="button" class="btn btn-primary btn-round"
             data-toggle="modal" data-target="#reviewModal"
             th:onClick="|modalAddFormStudentId(${student.id},${jobAd.id})|">
             Napiši recenziju</button>
           </div>

          </div>
         </div>
         <div class="card-footer ">
          <hr>
          <div class="stats">
           <div class="row">
            <div class="col">
             <i class="fa fa-history"></i>Datum objave: <span
              th:text="${jobAd.dateOfPosting}" />
            </div>
            <div class="col">
             <a th:href="@{/jobAd/list/{id}(id=${jobAd.id})}"
              class="btn btn-info btn-round">Detalji</a>
            </div>

           </div>

          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- finished jobs end-->


     <form th:action="@{/review/save}" th:method="post">
      <!-- Modal -->
      <div class="modal fade" id="reviewModal" tabindex="-1"
       role="dialog" aria-labelledby="reviewModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
        <div class="modal-content">
         <div class="modal-header">
          <h5 class="modal-title" id="reviewModalLabel">Napiši
           recenziju</h5>
          <button type="button" class="close" data-dismiss="modal"
           aria-label="Close">
           <span aria-hidden="true">&times;</span>
          </button>
         </div>
         <div class="modal-body">
          <div class="form-group">
           <input type="hidden" name="studentId" id="studentId" value="" />
           <label for="">Ocijena:</label>
           <div class="star-rating">
            <input type="hidden" name="grade" id="grade" value="3">
            <input type="hidden" th:name="jobAdId" id="jobAdId" value="">
            <i class="fas fa-star" id="star1" onclick="add(this,1)"></i>
            <i class="fas fa-star" id="star2" onclick="add(this,2)"></i>
            <i class="fas fa-star" id="star3" onclick="add(this,3)"></i>
            <i class="far fa-star" id="star4" onclick="add(this,4)"></i>
            <i class="far fa-star" id="star5" onclick="add(this,5)"></i>
           </div>

           <br>
           <textarea class="form-control animated" cols="50"
            id="new-review" name="review"
            placeholder="Ovdje napišite svoju recenziju..." rows="5"
            value=""></textarea>

          </div>
         </div>
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
           data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Objavi</button>
         </div>
        </div>
       </div>
      </div>
     </form>

    </div>
   </div>
</body>
</html>