<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
<title>Job ad list</title>
</head>
<body>


 <div class="container" data-layout-fragment="content">

  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="card-header">
      <h4 class="card-title">Poslovi</h4>
     </div>
     <div class="card-body">
      <div class="table-responsive">
       <table class="table">
        <thead class=" text-primary">
         <th>#</th>
         <th>Poslodavac</th>
         <th>Company Name</th>
         <th>active</th>
         <th>saleryPerHour</th>
         <th>dateOfStart</th>
         <th>dateOfPosting</th>
         <th>Action</th>
        </thead>
        <tbody>
         <tr th:each="jobAd:${jobAds}">

          <td th:text="${jobAd.id}" />
          <td><a
            th:href="@{/employer/profile(employerId=${jobAd.id})}"
            th:text="${jobAd.employer.firstName}+' '+${jobAd.employer.lastName} " /></td>
          <td th:text="${jobAd.companyName}" />
          <td th:text="${jobAd.active}" />
          <td th:text="${jobAd.saleryPerHour}" />
          <td th:text="${jobAd.dateOfStart}" />
          <td th:text="${jobAd.dateOfPosting}" />
          <td><a th:href="@{/jobAd/list/{id}(id=${jobAd.id})}"
            class="btn btn-info btn-sm"> Detalji</a> <a
            th:href="@{delete(jobAdId=${jobAd.id})}"
            class="btn btn-danger btn-sm"
            onclick="if(!(confirm('Jeste li sigurni da želite izbrisati oglas?'))) return false">
            Delete</a>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>

 </div>
</body>
</html>