<!DOCTYPE HTML>
<html data-layout-decorate="~{layout}">

<head>
<title>Detalji oglasa</title>
</head>
<body>
 <div class="container" data-layout-fragment="content">

  <div>

   <div class="card">
    <div class="card-header">
     <h5 class="card-title" th:text="${jobAd.companyName}">Tvrtka</h5>
    </div>
    <div class="card-body">

     <div class="row">
      <div class="col-md pr-1">
       <div class="form-group">
        <label>Poslodavac</label>
        <p>
         <a
          th:href="@{/employer/profile(employerId=${jobAd.employer.id})}"
          th:text="${jobAd.employer.firstName}+' '+${jobAd.employer.lastName}">Poslodavac</a>
        </p>
       </div>
      </div>
      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <p th:text="${jobAd.email}">Email</p>
       </div>
      </div>
      <div class="col-md pl-1">
       <div class="form-group">
        <label>Kontakt broj</label>
        <p th:text="${jobAd.contactNumber}">Broj</p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>O nama</label>
        <p th:text="${jobAd.aboutUs}"></p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md pr-1">
       <div class="form-group">
        <label>Grad</label>
        <p th:text="${jobAd.city.getCityName()}">Grad</p>
       </div>
      </div>
      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Adresa</label>
        <p th:text="${jobAd.address}">Adresa</p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Opis posla</label>
        <p th:text="${jobAd.jobDescription}">Opis posla</p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md pr-1">
       <div class="form-group">
        <label>Satnica</label>
        <p th:text="${jobAd.saleryPerHour}+' kn'"></p>
       </div>
      </div>
      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Broj radnih mjesta</label>
        <p th:text="${jobAd.numberOfStudents}">Broj radnih mjesta</p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Potrebne vjestine</label>
        <p th:text="${jobAd.requiredSkills}"></p>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Potrebne vjestine</label>
        <p th:text="${jobAd.requiredLicenses}"></p>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-4 pl-1">
       <div class="form-group">
        <label>Godine iskustva</label> <input type="number"
         class="form-control" disabled="disabled"
         th:value="${jobAd.minimumWorkExperienceYear}">
       </div>
      </div>
      <div class="col-md-4 px-1">
       <div class="form-group">
        <label>Mjeseci iskustva</label> <input type="text"
         class="form-control" disabled="disabled"
         th:value="${jobAd.minimumWorkExperienceMonth}">
       </div>
      </div>
      <div class="col-md-4 pl-1"></div>
     </div>

     <div class="row">
      <div class="update ml-auto mr-auto">
       <a th:href="@{apply(jobAdId=${jobAd.id})}" sec:authorize="hasRole('ROLE_STUDENT')"
        class="btn btn-primary btn-round"> Prijavi se</a>
      </div>
     </div>

    </div>
   </div>

   <!-- job card content end -->
  </div>
 </div>

</body>

</html>