<!DOCTYPE HTML>
<html data-layout-decorate="~{layout}">

<head>
<title>Moj profil</title>
</head>
<body>
 <div class="container" data-layout-fragment="content">
  <form action="#" th:action="@{/jobAd/save}" th:object="${jobAd}"
   method="POST">
   <div class="card">
    <div class="card-header">
     <h5 class="card-title" th:text="${jobAd.companyName}">Tvrtka</h5>
    </div>
    <div class="card-body">
     <input type="hidden" th:field="*{id}"
      class="form-control rb-4 col-4" placeholder="Id">

     <div class="row">
      <div class="col-md pr-1">
       <div class="form-group">
        <label>Tvrtka</label> <input type="text"
         th:field="*{companyName}" class="form-control"
         placeholder="Ime tvrtke">
        <p></p>
       </div>
      </div>

      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Email</label> <input
         type="email" class="form-control" th:field="${jobAd.email}"
         placeholder="Email">
       </div>
      </div>

      <div class="col-md pl-1">
       <div class="form-group">
        <label>Kontakt broj</label> <input type="text"
         class="form-control" placeholder="npr. 0991234123"
         th:field="${jobAd.contactNumber}">
       </div>
      </div>

     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>O nama</label>
        <textarea th:field="${jobAd.aboutUs}"
         class="form-control textarea" placeholder="O nama"></textarea>
       </div>
      </div>
     </div>

     <div class="row">

      <div class="col-md pr-1">
       <div class="form-group">
        <label>Grad</label> <select class="custom-select"
         id="inputGroupSelect01" name="city">
         <option th:each="city:${cities}" th:value="${city.id}"><span
           th:text="${city.cityName}" /></option>
        </select>
       </div>
      </div>

      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Adresa</label> <input
         type="text" class="form-control" placeholder="npr. Ilica 123"
         th:field="${jobAd.address}">
       </div>
      </div>

     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Kratki opis posla(bit će prikazan na naslovnoj
         strani)</label>
        <textarea th:field="${jobAd.shortDescription}"
         class="form-control textarea"
         placeholder="Jednom rečenicom opišite posao"></textarea>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Opis posla</label>
        <textarea th:field="${jobAd.jobDescription}"
         class="form-control textarea" placeholder="Detaljni opis posla"></textarea>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Kategorija posla</label> <select class="custom-select"
         id="inputGroupSelect02" name="jobCategory">
         <option th:each="jobCategory:${jobCategories}"
          th:value="${jobCategory.id}"><span
           th:text="${jobCategory.jobCategory}"/></option>
        </select>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md pr-1">
       <div class="form-group">
        <label>Satnica</label> <input type="number" class="form-control"
         placeholder="npr 30" th:field="${jobAd.saleryPerHour}">
       </div>
      </div>
      <div class="col-md pl-1">
       <div class="form-group">
        <label for="exampleInputEmail1">Broj radnih mjesta</label> <input
         type="number" class="form-control" placeholder="npr 2"
         th:field=${jobAd.numberOfStudents}>
       </div>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Potrebne vjestine</label>
        <textarea th:field="${jobAd.requiredSkills}"
         class="form-control textarea" placeholder=""></textarea>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-12">
       <div class="form-group">
        <label>Potrebne dozvole</label>
        <textarea th:field="${jobAd.requiredLicenses}"
         class="form-control textarea" placeholder=""></textarea>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-4 pl-1">
       <div class="form-group">
        <label>Godine iskustva</label> <input type="number"
         class="form-control"
         th:field="${jobAd.minimumWorkExperienceYear}">
       </div>
      </div>
      <div class="col-md-4 px-1">
       <div class="form-group">
        <label>Mjeseci iskustva</label> <input type="text"
         class="form-control"
         th:field="${jobAd.minimumWorkExperienceMonth}">
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-4 pl-1">
       <div class="form-group">
        <label>Datum početka rada</label> <input type="date"
         th:field="${jobAd.dateOfStart}" class="form-control">
       </div>
      </div>
      <div class="col-md-4 px-1">
       <div class="form-group">
        <label>Vrijeme početka rada</label> <input type="number"
         th:field="${jobAd.hourOfStart}" class="form-control "
         placeholder="Sat početka rada">
       </div>
      </div>
     </div>

     Hitan oglas<input type="checkbox" th:field="${jobAd.emergencyAd}">

     <div class="row">
      <div class="update ml-auto mr-auto">
       <button type="submit" class="btn btn-primary btn-round">Objavi</button>
      </div>
     </div>

    </div>
   </div>
  </form>
 </div>

</body>

</html>