<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
<title>Login</title>
</head>
<body>


 <div class="container" data-layout-fragment="content">

  <div class="row">
   <div class="col-md-6 col-md-offset-3">
    <div class="card">
     <div class="card-body">
      <h1>Prijavite se</h1>
      <form th:action="@{/login}" method="post">
       <div th:if="${param.error}">
        <div class="alert alert-danger">Pogrešna email ili lozinka.</div>
       </div>
       <div th:if="${param.logout}">
        <div class="alert alert-info">You have been logged out.</div>
       </div>
       <div class="form-group">
        <label for="username">Email</label>: <input type="text"
         id="username" name="username" class="form-control"
         autofocus="autofocus" placeholder="npr. ivan.horvat@gmail.com" />
       </div>
       <div class="form-group">
        <label for="password">Lozinka</label>: <input type="password"
         id="Lozinka" name="password" class="form-control"
         placeholder="Lozinka" />
       </div>
       <div class="form-group">
        <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
          <input type="submit" name="login-submit" id="login-submit"
           class="btn btn-success btn-round" value="Prijavi se" />
         </div>
        </div>
       </div>
       <div class="form-group">
        <span>Nemate račun? <a
          th:href="@{/registration}">Novi račun</a></span>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>


 </div>

</body>
</html>