<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>

<title>Registracija</title>
</head>
<body>
 <div class="container" data-layout-fragment="content">
  <div class="row">
   <div class="col-md-6 col-md-offset-3">
    <div class="card">


     <div class="card-header">
      <div th:if="${param.success}">
       <div class="alert alert-info"></div>
      </div>

      <h1>Registracija</h1>

      <div>
       <label>Prijavi se kao</label> <input type="radio" name="regType"
        value="student" checked="checked" />Student <input type="radio"
        name="regType" value="employer" />Poslodavac
      </div>
     </div>
     <div class="card-body">





      <div id="studentForm" class="desc">
       <form th:action="@{/registration-student}" th:object="${student}"
        method="post">

        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
         th:each="error : ${#fields.errors('global')}"
         th:text="${error}">Validation error</p>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
         <label for="firstName" class="control-label">Ime</label> <input
          id="firstName" class="form-control" th:field="*{firstName}" />
         <p class="error-message"
          th:each="error: ${#fields.errors('firstName')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
         <label for="lastName" class="control-label">Prezime</label> <input
          id="lastName" class="form-control" th:field="*{lastName}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('oib')}? 'has-error':''">
         <label for="oib" class="control-label">Oib</label> <input
          id="oib" class="form-control" th:field="*{oib}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('oib')}" th:text="${error}">Validation
          error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('jmbag')}? 'has-error':''">
         <label for="jmbag" class="control-label">Jmbag</label> <input
          id="jmbag" class="form-control" th:field="*{jmbag}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('jmbag')}"
          th:text="${error}">Validation error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
         <label for="email" class="control-label">E-mail</label> <input
          id="email" class="form-control" th:field="*{email}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
         <label for="password" class="control-label">Lozinka</label> <input
          id="password" class="form-control" type="password"
          th:field="*{password}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
         th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
         <label for="phoneNumber" class="control-label">Broj
          mobitela</label> <input id="phoneNumber" class="form-control"
          th:field="*{phoneNumber}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('phoneNumber')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
         <button type="submit" class="btn btn-success btn-round">Registriraj</button>
         <span>Već imate račun? <a href="/" th:href="@{/login}">Prijavite
           se</a></span>
        </div>
       </form>
      </div>



      <div id="employerForm" class="desc" style="display: none;">
       <form th:action="@{/registration-employer}"
        th:object="${employer}" method="post" id="employerForm">

        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
         th:each="error : ${#fields.errors('global')}"
         th:text="${error}">Validation error</p>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
         <label for="firstName" class="control-label">Ime</label> <input
          id="firstName" class="form-control" th:field="*{firstName}" />
         <p class="error-message"
          th:each="error: ${#fields.errors('firstName')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
         <label for="lastName" class="control-label">Prezime</label> <input
          id="lastName" class="form-control" th:field="*{lastName}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('lastName')}"
          th:text="${error}">Validation error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('oib')}? 'has-error':''">
         <label for="oib" class="control-label">Oib</label> <input
          id="oib" class="form-control" th:field="*{oib}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('oib')}" th:text="${error}">Validation
          error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
         <label for="email" class="control-label">E-mail</label> <input
          id="email" class="form-control" th:field="*{email}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('email')}"
          th:text="${error}">Validation error</p>
        </div>

        <div class="form-group"
         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
         <label for="password" class="control-label">Lozinka</label> <input
          id="password" class="form-control" type="password"
          th:field="*{password}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
         th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
         <label for="phoneNumber" class="control-label">Broj
          mobitela</label> <input id="phoneNumber" class="form-control"
          th:field="*{phoneNumber}" />
         <p class="error-message"
          th:each="error : ${#fields.errors('phoneNumber')}"
          th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
         <button type="submit" class="btn btn-success btn-round">Register</button>
         <span>Već imate račun? <a href="/" th:href="@{/login}">Prijavite
           se</a></span>
        </div>

       </form>
      </div>



     </div>
    </div>
   </div>




  </div>
 </div>

</body>
</html>