<!DOCTYPE html>
<html>

<head>

</head>

<body>

 <th:block th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
   <div class="container">
    <a class="navbar-brand" th:href="@{/home}">Studentski oglasi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarResponsive" aria-controls="navbarResponsive"
     aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">

      <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Oglasi<span
        class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/jobAd/list}">Svi
        oglasi</a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/student/list}">Svi
        studenti</a></li>
      <li class="nav-item"><a class="nav-link " sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/employer/list}">Svi
        poslodavci</a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/registration}">Registracija</a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}">Prijava</a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyRole('ROLE_STUDENT','ROLE_EMPLOYER')" th:href="@{profile}">Moj
        profil</a></li>
      <li class="nav-item"><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Odjava</a></li>

     </ul>
    </div>
   </div>
  </nav>

 </th:block>
</body>

</html>