<th:block th:fragment="sidebar">
 <div class="container" data-layout-fragment="sidebar">

  <div class="sidebar" data-color="white" data-active-color="danger">
   <div class="logo">
    <a class="simple-text logo-mini">
     <!-- <div class="logo-image-small">
            <img src="./assets/img/logo-small.png">
          </div> -->
     <!-- <p>CT</p> -->
    </a>
    <a class="simple-text logo-normal">
     Logo
     <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
    </a>
   </div>
   <div class="sidebar-wrapper">
    <ul class="nav">
     <li id="jobAds"><a th:href="@{/home}">
       <i class="nc-icon nc-tile-56"></i>
       <p>Oglasi</p>
      </a></li>
     <li id="jobAdControl"><a th:href="@{/jobAd/list}"
       sec:authorize="hasRole('ROLE_ADMIN')">
       <i class="nc-icon nc-paper"></i>
       <p>Upravljaj oglasima</p>
      </a></li>
     <li id="students"><a th:href="@{/student/list}"
       sec:authorize="hasRole('ROLE_ADMIN')">
       <i class="nc-icon nc-circle-10"></i>
       <p>Svi studenti</p>
      </a></li>
     <li id="employers"><a th:href="@{/employer/list}"
       sec:authorize="hasRole('ROLE_ADMIN')">
       <i class="nc-icon nc-circle-10"></i>
       <p>Svi poslodavci</p>
      </a></li>
     <li id="registration"><a th:href="@{/registration}"
       sec:authorize="!isAuthenticated()">
       <i class="nc-icon nc-key-25"></i>
       <p>Registracija</p>
      </a></li>
     <li id="login"><a th:href="@{/login}"
       sec:authorize="!isAuthenticated()">
       <i class="nc-icon nc-lock-circle-open"></i>
       <p>Prijava</p>
      </a></li>
     <li id="myProfile"><a th:href="@{/profile}"
       sec:authorize="hasAnyRole('ROLE_STUDENT','ROLE_EMPLOYER')">
       <i class="nc-icon nc-single-02"></i>
       <p>Moj profil</p>
      </a></li>
     <li id="logout"><a th:href="@{/logout}" sec:authorize="isAuthenticated()">
       <i class="nc-icon nc-button-power"></i>
       <p>Odjava</p>
      </a></li>
    </ul>
   </div>
  </div>

 </div>
</th:block>