<!DOCTYPE html>
<html data-layout-decorate="~{layout}">
<head>
<title>Employer list</title>
</head>
<body>


 <div class="container" data-layout-fragment="content">

  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="card-header">
      <h4 class="card-title">Poslodavci</h4>
     </div>
     <div class="card-body">
      <div class="table-responsive">
       <table class="table">
        <thead class=" text-primary">
         <th>#</th>
         <th>Ime</th>
         <th>Prezime</th>
         <th>E-mail</th>
         <th>Broj telefona</th>
         <th>Akcije</th>
        </thead>
        <tbody>
         <tr th:each="employer:${employers}">
          <td th:text="${employer.id}" />
          <td th:text="${employer.firstName}" />
          <td th:text="${employer.lastName}" />
          <td th:text="${employer.email}" />
          <td th:text="${employer.phoneNumber}" />

          <td><a th:href="@{delete(employerId=${employer.id})}"
            class="btn btn-danger btn-sm"
            onclick="if(!(confirm('Jeste li sigurni da želite izbrisati poslodavca?'))) return false">
            Ukloni</a> <a th:href="@{profile(employerId=${employer.id})}"
            class="btn btn-danger btn-sm"> Profil</a></td>
         </tr>
        </tbody>
       </table>
      </div>
     </div>
    </div>
   </div>
  </div>

 </div>
</body>
</html>