

.star-rating i {
	color: red;
	font-size: 24px;
}
 .nav-tabs {
	padding-left: 25px; 
}
.card-body.side-bar-card-body{
 	padding-top: 0px;
 	padding-bottom: 0px;
}
.card-footer .side-bar-card-footer{
 	padding:0px;
				
}
