<!DOCTYPE HTML>
<html data-layout-decorate="~{layout}">

<head>
</head>

<body>
 <div class="container" data-layout-fragment="content">
  <div class="card">
   <div class="card-header">
    <h5 class="card-title">Filteri</h5>
   </div>
   <div class="card-body">

    <div class="row">

     <div class="col">
      <!--      <button type="button" class="btn btn-primary filterBtn btn-round" -->
      <!--       data-toggle="modal" data-target="#filterForm">Filteri</button> -->

      <form onsubmit="disableEmptyInputs(this)" method="get">
       <!-- satnica -->
       <div class="row">
        <div class="col">
         <label for="saleryPerHourMin" class="col-form-label">Satnica
          od:
          </label> <input type="text" id="saleryPerHourMin"
          name="saleryPerHourMin" value="">
        </div>
        <div class="col">
         <label for="saleryPerHourMax" class="col-form-label">
          do:</label> <input type="text" id="saleryPerHourMax"
          name="saleryPerHourMax" value=""><label
          class="col-form-label">kn</label>
        </div>
        <div class="col">
         <div class="">
          <!-- grad dropdown -->
          <label class="col-form-label">Grad: </label><select
           name="city">
           <option value="" slected>Odaberi...</option>
           <option th:each="city: ${cities}" th:value="${city.id}"
            th:text="${city.cityName}"></option>
          </select>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="col">
         <!-- broj studenata -->
         <label for="numberOfStudentsMin" class="col-form-label">Broj
          slobodnih mjesta od: </label> <input type="text"
          id="numberOfStudentsMin" name="numberOfStudentsMin" value=""
          style="width: 150px;">
        </div>
        <div class="col">
         <label for="numberOfStudentsMax" class="col-form-label">
          do:</label> <input type="text" id="numberOfStudentsMax"
          name="numberOfStudentsMax" value="">
        </div>
        <div class="col">
         <!-- Kategorija dropdown -->
         <label class="col-form-label">Kategorija posla: </label><select
          name="jobCategory">
          <option value="" slected>Odaberi...</option>
          <option th:each="jobCategory: ${jobCategories}"
           th:value="${jobCategory.id}"
           th:text="${jobCategory.jobCategory}"></option>
         </select>
        </div>
       </div>
       <!-- datum pocetka rada -->
       <div class="row">
        <div class="col">
         <label for="dateOfStart" class="col-form-label">Datum
          početka rada od:</label> <input type="date" id="dateOfStartMin"
          name="dateOfStartMin" value="">
        </div>
        <div class="col">
         <label for="dateOfStart" class="col-form-label">do: </label> <input
          type="date" id="dateOfStartMax" name="dateOfStartMax" value="">
        </div>
        <div class="col">
         <!-- Hitan oglas checkbox -->
         <label class="col-form-label">Hitan oglas </label><input
          type="checkbox" name="emergencyAd" value="true" />
        </div>
       </div>
       <div class="row">
        <!-- sortiranje -->
        <div class="col">
         <label class="col-form-label">Sort:</label><select name="sort">
          <option value="" slected>Odaberi...</option>
          <option value="1">Najnoviji</option>
          <option value="2">Najstariji</option>
          <option value="3">Najveća satnica</option>
         </select>
        </div>
        <div class="col-lg-3">
         <button type="submit" class="btn btn-primary btn-round">Trazi</button>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>

  <a th:href="@{/jobAd/showFormForAdd}"
   sec:authorize="hasRole('ROLE_EMPLOYER')"
   class="btn btn-success btn-round"> Dodaj oglas </a>

  <div class="row">
   <!-- sidebar job card -->
   <div class="col-4">
    <!-- side bar job card -->
    <div class="list-group" id="list-tab" role="tablist">
     <th:block th:each="jobAd:${jobAds}">
      <!--       <a class="list-group-item list-group-item-action" -->
      <a class="" data-toggle="list" th:id="'list'+${jobAd.id}+'list'"
       th:href="'#list'+${jobAd.id}" role="tab">
       <div class="col-md-12">
        <div class="card">
         <div class="card-header ">
          <div></div>
          <div class="row">
           <div class="col">
            <h6 class="card-title" th:text="${jobAd.companyName}">Tvrtka</h6>
           </div>
           <div class="col">
            <p>
            <p />
            <p class="card-category">
             Satnica: <span th:text="${jobAd.saleryPerHour}"></span> kn
            </p>
           </div>
          </div>
         </div>
         <div class="card-body side-bar-card-body">
          <p th:text="${jobAd.shortDescription}">Kratki opis</p>
         </div>
         <div class="card-footer side-bar-card-footer">
          <div class="stats">
           <div class="row">
            <div class="col">
             <i class="fa fa-history"></i>Datum objave:<span
              th:text="${jobAd.dateOfPosting}"></span>
            </div>
            <!--          <div class="col"></div> -->
           </div>
          </div>
         </div>
        </div>
       </div>
      </a>
     </th:block>
    </div>
    <!-- side bar job card end -->

    <!-- paging -->
    <ul class="nav nav-pills">
     <li class="nav-item"
      th:each="i : ${#numbers.sequence(0,jobAds.totalPages-1)}">
      <!-- list je metoda u controlleru --> <a
       th:href="@{home(page=${i})}" th:text="${i}"
       class="btn btn-primary btn-round"
       th:classappend="${currentPage}==${i}?'active':''"></a>
     </li>
    </ul>
   </div>
   <!-- sidebar cards end -->


   <!-- job content card -->

   <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
     <th:block th:each="jobAd:${jobAds}">
      <div class="tab-pane fade" th:id="'list'+${jobAd.id}"
       role="tabpanel">
       <div class="card">
        <div class="card-header">
         <h5 class="card-title" th:text="${jobAd.companyName}">Tvrtka</h5>
        </div>
        <div class="card-body">

         <div class="row">
          <div class="col-md pr-1">
           <div class="form-group">
            <label>Poslodavac</label>
            <p>
             <a
              th:href="@{/employer/profile(employerId=${jobAd.employer.id})}"
              th:text="${jobAd.employer.firstName}+' '+${jobAd.employer.lastName}">Poslodavac</a>
            </p>
           </div>
          </div>
          <div class="col-md pl-1">
           <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <p th:text="${jobAd.email}">Email</p>
           </div>
          </div>
          <div class="col-md pl-1">
           <div class="form-group">
            <label>Kontakt broj</label>
            <p th:text="${jobAd.contactNumber}">Broj</p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md-12">
           <div class="form-group">
            <label>O nama</label>
            <p th:text="${jobAd.aboutUs}"></p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md pr-1">
           <div class="form-group">
            <label>Grad</label>
            <p th:text="${jobAd.city.getCityName()}">Grad</p>
           </div>
          </div>
          <div class="col-md pl-1">
           <div class="form-group">
            <label for="exampleInputEmail1">Adresa</label>
            <p th:text="${jobAd.address}">Adresa</p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md-12">
           <div class="form-group">
            <label>Opis posla</label>
            <p th:text="${jobAd.jobDescription}">Opis posla</p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md pr-1">
           <div class="form-group">
            <label>Satnica</label>
            <p th:text="${jobAd.saleryPerHour}+' kn'"></p>
           </div>
          </div>
          <div class="col-md pl-1">
           <div class="form-group">
            <label for="exampleInputEmail1">Broj radnih mjesta</label>
            <p th:text="${jobAd.numberOfStudents}">Broj radnih
             mjesta</p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md-12">
           <div class="form-group">
            <label>Potrebne vjestine</label>
            <p th:text="${jobAd.requiredSkills}"></p>
           </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-12">
           <div class="form-group">
            <label>Potrebne dozvole</label>
            <p th:text="${jobAd.requiredLicenses}"></p>
           </div>
          </div>
         </div>

         <div class="row">
          <div class="col-md-4 pl-1">
           <div class="form-group">
            <label>Godine iskustva</label> <input type="number"
             class="form-control" disabled="disabled"
             th:value="${jobAd.minimumWorkExperienceYear}">
           </div>
          </div>
          <div class="col-md-4 px-1">
           <div class="form-group">
            <label>Mjeseci iskustva</label> <input type="text"
             class="form-control" disabled="disabled"
             th:value="${jobAd.minimumWorkExperienceMonth}">
           </div>
          </div>
          <div class="col-md-4 pl-1"></div>
         </div>

         <div class="row">
          <div class="update ml-auto mr-auto">
           <a th:href="@{apply(jobAdId=${jobAd.id})}"
            sec:authorize="hasAnyRole('ROLE_STUDENT')"
            class="btn btn-primary btn-round"> Prijavi se</a>
          </div>
         </div>

        </div>
       </div>

       <!-- job card content end -->
      </div>
     </th:block>
    </div>
   </div>
   <!-- job content card -->
  </div>
  <!-- job ad end -->








  <div class="myForm">
   <form onsubmit="disableEmptyInputs(this)" method="get">
    <div class="modal fade" id="filterForm" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
      <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal"
         aria-label="Close">
         <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="modal-body">

        <!-- Satnica od do  -->
        <div class=row>
         <div class="form-group">
          <label for="saleryPerHourMin" class="col-form-label"></label>
          <input type="text" class="form-control" id="saleryPerHourMin"
           name="saleryPerHourMin" value="">
         </div>

         <div class="form-group">
          <label for="saleryPerHourMax" class="col-form-label"></label>
          <input type="text" class="form-control" id="saleryPerHourMax"
           name="saleryPerHourMax" value="">
         </div>
        </div>

        <!-- broj studenata -->
        <div class=row>

         <div class="form-group">
          od <label for="numberOfStudentsMin" class="col-form-label"></label>
          <input type="text" class="form-control"
           id="numberOfStudentsMin" name="numberOfStudentsMin" value="">
         </div>

         <div class="form-group">
          do <label for="numberOfStudentsMax" class="col-form-label"></label>
          <input type="text" class="form-control"
           id="numberOfStudentsMax" name="numberOfStudentsMax" value="">
         </div>
        </div>

        <!-- datum pocetka rada -->
        <div class=row>
         <div class="form-group">
          <label for="dateOfStart" class="col-form-label"></label> <input
           type="date" class="form-control" id="dateOfStartMin"
           name="dateOfStartMin" value="">
         </div>
         <div class="form-group">
          <label for="dateOfStart" class="col-form-label"></label> <input
           type="date" class="form-control" id="dateOfStartMax"
           name="dateOfStartMax" value="">
         </div>
        </div>

        <!-- grad dropdown -->
        <div class="form-group">
         Grad: <select name="city">
          <option value="" slected>Odaberi...</option>
          <option th:each="city: ${cities}" th:value="${city.id}"
           th:text="${city.cityName}"></option>
         </select>
        </div>

        <!-- Kategorija dropdown -->
        <div class="form-group">
         Kategorija posla: <select name="jobCategory">
          <option value="" slected>Odaberi...</option>
          <option th:each="jobCategory: ${jobCategories}"
           th:value="${jobCategory.id}"
           th:text="${jobCategory.jobCategory}"></option>
         </select>
        </div>

        <!-- Hitan oglas checkbox -->
        <div class="form-group">
         Hitan oglas <input type="checkbox" name="emergencyAd"
          value="true" />
        </div>

        <!-- sortiranje -->
        <div class="form-group">
         Sort:<select class="custom-select" name="sort">
          <option value="" slected>Odaberi...</option>
          <option value="1">Najnoviji</option>
          <option value="2">Najstariji</option>
          <option value="3">Najveća satnica</option>
         </select>
        </div>
       </div>

       <!-- footer modala -->
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
         data-dismiss="modal">Zatvori</button>
        <button type="submit" class="btn btn-primary">Trazi</button>
       </div>

      </div>
     </div>
    </div>
   </form>
  </div>


 </div>
</body>
</html>