<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport"
 content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="apple-touch-icon" sizes="76x76"
 href="/assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="/assets/img/favicon.png">
<title>Početna stranica</title>
<meta
 content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
 name='viewport' />
<!--     Fonts and icons     -->
<link
 href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
 rel="stylesheet" />
<link
 href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
 rel="stylesheet">
<!-- CSS Files -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/demo.css}" />

</head>

<body class="">
 <div class="wrapper ">

  <div th:replace="fragments/sidebar :: sidebar"></div>


  <div class="main-panel" style="height: 100vh;">
   <!-- Navbar -->
   <div th:replace="fragments/navbar :: navbar"></div>

   <!-- End Navbar -->
   <div class="content">
    <div class="row">
     <div class="col-md-12">
      <div data-layout-fragment="content"></div>
     </div>
    </div>
   
   </div>
<!-- <div th:replace="fragments/footer:: footer"></div> -->   

  </div>
 </div>
 <!--   Core JS Files   -->

 <script src="/assets/js/core/jquery.min.js"></script>
 <script src="/assets/js/core/popper.min.js"></script>
 <script src="/assets/js/core/bootstrap.min.js"></script>
 <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
 <script src="/assets/js/plugins/perfect-scrollbar.js"></script>

 <script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <!-- Chart JS -->
 <script src="/assets/js/plugins/chartjs.min.js"></script>
 <!--  Notifications Plugin    -->
 <script src="/assets/js/plugins/bootstrap-notify.js"></script>
 <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
 <script src="/assets/js/paper-dashboard.min.js?v=2.0.1"
  type="text/javascript"></script>
 <!-- Custom js -->
 <script src="/js/custom.js"></script>

</body>

</html>
